@import "../scss/index.scss";
@import "../scss/responsive.scss";

//shop
.shop {
  font-family: "Poppins";
  margin: 50px 0;
  &__title {
    padding: 15px 0;
    font-size: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
  }

  &__item {
    @include flex_row(space-between, center, wrap);
    row-gap: 35px;
    // 605 470
    a {
      @include containimage(48.5%, 30rem, none);
    }
  }
}

// blog
.blog {
  font-family: "Poppins";
  text-align: left;
  font-weight: 500;
  margin: 50px 0;
  padding-top: 20px;
  &__title {
    padding: 15px 0;
    font-size: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    @include flex_row(start, center, none);
    height: 250px;
    margin-bottom: 50px;
    gap: 3%;
  }
  &__imageItem {
    // 605 250
    @include containimage(48.6%, 250px, none);
  }
  &__info {
    height: 100%;
    width: 42.5%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
  &__name {
    letter-spacing: 0.06rem;
  }
  &__desc {
    line-height: 24px;
  }
  &__about {
    width: 100%;
    @include flex_row(end, center, none);
    button {
      font-size: 20px;
      padding: 10px 20px;
      padding-right: 0;
      background-color: transparent;
      i {
        margin-left: 20px;
      }
    }
    button:hover {
      padding-right: 25px;
      cursor: pointer;
      color: #fff;
      i {
        color: #fff;
      }
      background-color: rgba(0, 0, 0, 0.65);
    }
    button:hover &__about span {
      transform: translateX(5px);
    }
  }
}

//responsive
